*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.project-form {
  display: none;
}
.todo-form {
  display: none;
}

/* toggle style */
.show {
  display: block;
}

/* temporary */
#content {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}
header {
  background: pink;
  grid-column: 1 / -1;
}
aside {
  background: skyblue;
  grid-column: 0 / 1;
}
main {
  background: beige;
  grid-column: 2 / -1;
}
